<section class="hero">
  <video autoplay loop muted poster="/images/screenshot.png" id="background-mov">
    <source src="/videos/background.mp4" type="video/mp4">
  </video>
  <div class="text-center title">
    <h1>Cytras</h1>
    <h2 class="">Cycle Tracking System</h2>
    <a href="/users/sign_in" class="btn btn-primary">ログイン</a>
    <a href="/users/sign_up" class="btn btn-success">新規登録</a>
  </div>
</section>

<section class="intro text-center" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 wp1">
        <h1 class="arrow">What is Cytras ?</h1>
        <p>自転車を盗まれたことがありますか？</p>
        <p>自転車は鍵を掛けていても盗まれ，特に高級自転車は転売目的で盗まれることがあります。</p>
        <p>あなたの大切な愛車を護る自転車トラッキングシステム。それがCytrasです。</p>
      </div>
    </div>
  </div>
</section>

<section class="features text-center section-padding" id="activity">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">Features</h1>
        <div class="features-wrapper">
          <div class="feature-item col-md-4 wp2">
            <div class="icon"><i class="fa fa-exclamation shadow"></i></div>
            <h2>異変の検知</h2>
            <p>自転車の盗難を防ぎます。</p>
          </div>
          <div class="feature-item col-md-4 wp2 delay-05s">
            <div class="icon"><i class="fa fa-map-marker shadow"></i></div>
            <h2>追跡</h2>
            <p>盗難中の自転車の位置を知ることが出来ます。</p>
          </div>
          <div class="feature-item col-md-4 wp2 delay-1s">
            <div class="icon"><i class="fa fa-search shadow"></i></div>
            <h2>盗人の情報検出</h2>
            <p>圧力センサによって泥棒の情報を取得します。</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team text-center section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">Team. Kato Megumi</h1>
      </div>
    </div>
    <div class="row">
      <div class="team-wrapper">
        <div id="teamSlider">
          <ul class="slides">
            <li>
              <div class="member-item col-md-3 wp5">
                <img src="/images/ando.jpeg" alt="Team Member">
                <h2>Toshiyuki Ando</h2>
                <p>がーしー</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="https://github.com/ToshiyukiAndo" class="social-btn"><i class="fa fa-github"></i></a></li>
                  </ul>
                </div>
              </div>

              <div class="member-item col-md-3 wp5 delay-05s">
                <img src="/images/ikegawa.jpeg" alt="Team Member">
                <h2>Koshi Ikegawa</h2>
                <p>いけにゃん</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="https://github.com/ikegawa-koshi" class="social-btn"><i class="fa fa-github"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="member-item col-md-3 wp5 delay-1s">
                <img src="/images/oharada.png" alt="Team Member">
                <h2>Kazuya Oharada</h2>
                <p>ぺろぺろまん</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="https://github.com/prpr-man" class="social-btn"><i class="fa fa-github"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div class="member-item col-md-3 wp5">
                <img src="images/kobayashi.jpeg" alt="Team Member">
                <h2>Koki Kobayashi</h2>
                <p>K.K</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="https://github.com/KokiKobayashi" class="social-btn"><i class="fa fa-github"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="subscribe text-center">
  <div class="container">
    <a href="http://www.cs.tsukuba.ac.jp/enPiT/">
      <img src="/images/enPit.png">
    </a>
  </div>
</section>

